body
{
    background: gray;
    background: -webkit-linear-gradient(to right, gray, gray );
    background: linear-gradient(to right,gray, gray);
    font-family: Helvetica, Arial, sans-serif; 
    color: #fcfcfc;      
    color: #fcfcfc;      
    border: 5px solid #f522a4;                    
    padding: 10px;}  

    h1, h3, p {   
        border: 5px solid #e72c9f; 
        padding: 10px; 
        line-height: 2em;}
        i, a, a:hover, a:visited { 
            color: #f560aa;      
            border: 5px solid #e76094;   
            padding: 10px;
        }   
.container{

    max-width: 304px;
    max-height: 228px;
    margin-left: 83%;
    margin-top: 5px;
}

backgroundbackground
{
    background-color: rgb(200,200,200);
    color: gray;
    padding: 20px;
    font-family: Arial, Verdana, sans-serif;}
    h1 {
        background-color: rgb(116, 113, 113);
        padding: inherit;}
    h3 {
        background-color: #727070;
        padding: inherit;}
    p {
        background-color: rgb(105, 105, 105);
        color: rgb(255, 255, 249);
        padding: inherit;

     
}




        

